.social-form{
    font-weight: bold;
    background-color: white;
    color: #0f3057;
}

.input_form{
    outline: none;
    width: 100%;
    border: none;
    background-color: transparent;

}